body {
	margin: 0; padding: 0;
	text-indent: 2em;
}


/*Top presentation*/
div#backscreen {
	width: 100vw;
	height: 200px;
	background-image: url('./img/bg1.png');
	background-size: cover;
	background-position: center;
	animation-name: backscreenAnim;
	
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
img#me {
	width: 120px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 200px) translate(0, -65%);
	border-radius: 50%;
	border: 8px solid white;
}
p#intro {
	margin-top: 50px;
}

/*main page*/
div#about-me, div#what-i-do {
	width: 95vw;
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	/*
	box-shadow: 1px 2px 5px #c2c2c285;
	*/
	animation-name: apear-up;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
}
div#about-me h2, div#what-i-do {
	margin-top: 0;
}


/*Horizontal list of projects */
div#horiz-cont { /*Horizontal conteiner*/
	width: 100vw;
	padding-bottom: 2px;
	overflow-x: scroll;
	overflow-y: visible;
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
div#horiz-cont::-webkit-scrollbar {
	display: none;
}
div#horiz-list {
	width: 500px; 
	display: flex;
	margin: 5px 0 5px 40px;
	/*
	background-color: #f9baba; 
	border: 1px solid #ffffff00;
	*/
	border-radius: 20px 0px 0px 20px;
	box-shadow: 0px 2px 8px #80808085;
}
div#horiz-list h3 {
	text-indent: 0;
}
div#horiz-list p {
	font-size: 11px;
}
div#horiz-list h3, div#horiz-list p {
	margin-top: 5px;
	margin-bottom: 2px;
}

div.project-card {
	width: 200px;
	margin: 15px;
	/*
	border: 1px solid red;
	display: inline-block;
	float: right;
	background-color: #95d1e0;*/
}
div.project-card .cover {
	width: 200px; height: 112.5px;
	margin: 3px auto auto 3px;
}
#guess .cover {
	background-image: url('./img/guess-cover.png');
}
#hop .cover {
	background-image: url('/img/hop-cover.png');
	background-size: 100%;
}

footer {
	margin-top: 200px;
	color: #616161;
}
footer a img {
	width: 1em;
}

/*OTHER STYLE & CONFIG*/

/*more span link */
.hidden-more {display: none;}
span.more, span.less {
	color: blue;
}
span.orange {color: #f1a700;}
span.red {color: #ea5757;}

/*Animations*/
@keyframes apear-center{
	0% {
		transform: scale(.5,.5);
		opacity: 0;
	}
	100% {
		transform: scale(1,1);
		opacity: 1;
	}
}
@keyframes apear-up{
	0% {
		transform: translate(0, 100px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
@keyframes apear-down {
	0% {
		transform: translate(-50%, -100%);
	}
	100% {
		transform: translate(-50%, 0);
	}
}

@keyframes backscreenAnim {
	0% {
		background-size: 110%;
	}
	100% {
		background-size: 130%;
	}
}